/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */

.content-mid {
  padding: 80px;
}
}

.content-mid-header {
  background: #444;
  width: auto;
  height: 100px;

}

.content-container {
  width: auto;
  height: 600px;
}

.content {
  background: #D8D8D8;
  padding: 20px;
  width: auto;
  height: 200px;
  text-align: center;
}
